<div class="content-wrapper">
    <!-- Content Header (Page header) -->

    <!-- Main content -->
    <section class="content">
        <div id="block_content" class="box">
            <div id="content_main" class="box-body">
                <table id="kc_config_table" class="table table-bordered table-striped">
                    <thead>
                    <tr>
                        <th class="">图片<span class="arrow asc"></span></th>
                        <th class="">标题<span class=""></span></th>
                        <th class="">内容<span class=""></span></th>
                        <th class="">标签<span class=""></span></th>
                        <th><label>操作</label></th>
                    </tr>
                    </thead>
                    <tbody>
                     <% for(var i in desnodelist) {%>
                        <tr>
                                <td style="height:50px"><div id="preview">
                                    <image src="<%= desnodelist[i].path %>" style="width:5rem;height:5rem" >
                                   <div>
                                </div>
                                </td>
                                <td><input type="text" name="title" value="<%= desnodelist[i].title %>" ></td>
                                <td><input type="text" name="content" value="<%= desnodelist[i].content %>" ></td>
                                <td><input type="text" name="tag" value="<%= desnodelist[i].tag %>" ></td>
                                <td>
                                    <button type="button" class="btn btn-danger btn-sm" value="<%= desnodelist[i].title %>" onclick="desnodedel($(this))">删除</button>
                                </td>
                            </tr> 
                    <% } %>
                    </tbody>
                    <tfoot>
                    <tr>
                        <td style="height:30px"><div id="preview">
                            <input id='file' class="file" style="width:125px" type="file" accept="image/*" name="file" >
                           <div>
                            <label for="file" class='' style="position: absolute;left:90px">上传</label> 
                        </div>
                        </td>
                        <!-- <td><input type="text" name="des" placeholder="攻略|酒店 " ></td> -->
                        <td><input type="text" name="title" placeholder="banner|middle|top" ></td>
                        <td><input type="text" name="content"  ></td>
                        <td><input type="text" name="tag" ></td>
                        <td>
                            <button type="button" class="btn btn-success btn-sm" onclick="desnodeadd($(this))">增加</button>
                            <!-- <button type="button" class="btn btn-success btn-sm" onclick="user_index_del($(this))">删除</button> -->
                        </td>
                    </tr>
                    </tfoot>
                </table>
            </div>
            <!-- /.box-body -->
        </div>
        <!-- /.box -->

    </section>
    <!-- /.content -->
</div>